<h2>Chat</h2>
  <br/>

  <form #chat = "ngForm" (ngSubmit) = "sendMessage(chat.value)" >
    <label for="username">To</label>
    <input type = "text" name = "username" placeholder = "Username" ngModel>
    <br/>
    <label for="message">Message</label>
    <input type = "text" name = "text" placeholder = "Message" ngModel>
    <br/>
    <input type = "submit" value = "submit">
  </form>
  <ul>
    <li *ngFor="let message of messages">
      {{message.from.username }} => {{message.text}}
    </li>
  </ul>